tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /root/.cloudflared/REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: ocr.ziwei-chen.com
    service: http://127.0.0.1:8765
  - service: http_status:404
